/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/11/2020, 09:34:13 PM
    Author     : DanielHernandezReyes
*/
@font-face{
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf)
}
* {
    font-family: Roboto, sans-serif;
}
body{
    margin: 0;
    padding: 0;
}

.content-principal {
    display: block;
    text-align: center;
    top: 50%;
    left: 50%;
}


.content {
    width: calc(38% - 1.5em);
    background-color: #02fa86;
    margin-top: 2em;
    padding: 1em;
    padding-left: 1.5em;
}
.content-linea {
    display: block;
    width: 90%;
    font-size: 1.3em;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}


.content-usuario_img {
    display: block;
    width: 13em;
    padding: 1em;
}

.content-margin {
    margin-left: auto;
    margin-right: auto;
}
.content-padding {
    padding-top: .5em;
    padding-bottom: .5em;
}


.content-linea_label_uno {
    color: #fff;
    margin-left: .8em;
    margin-right: 1em;
}
.content-linea_label_dos {
    color: #fff;
    margin-right: .2em;
}
.content-linea_input {
    width: calc(1.9em + 50%);
    font-size: .9em;
    outline-color: #f57716;
}

.content-linea_boton {
    display: block;
    color: #fff;
    width: 60%;
    
}
.content-linea_tres {
    display: block;
    font-size: .9em;
    color: #fff;
    width: 60%;
    border-color: #00b7ff;
    background: #00b7ff;
    cursor: pointer;
}
.content-linea_cuatro {
    display: block;
    text-align: center;
    text-decoration: none;
    border-color: #00b7ff;
    background: #00b7ff;
}

.content-linea_cuatro:hover {
    background: #ff2929;
    border-color: #ff292A;
}
.content-linea_tres:hover {
    background: #ff2929;
    border-color: #ff292A;
}