/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 

    Created on : 26/11/2020, 01:55:14 PM
    Author     : luis-
*/

@font-face{
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf)
}
* {
    font-family: Roboto, sans-serif;
}
body {
    margin: 0;
}
.content-header {
    height: 4em;
    background: #156590;
    margin: 0;
}

.content-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #156590;
    height: 4em;
    width: 100%;    
}

.content-link {
    display: block;
    text-decoration: none;
    color: #fff;
    background: #156590;
    width: 10%;
    padding: 1.4em 2.5em 1.4em 2.5em;
    text-align: center;
    margin-top: 3em;
}
.content-link:hover{
    background: #ff292A;
}

 h1 {
    font-size: 2.3em;
}
