/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/11/2020, 11:14:11 PM
    Author     : luis-
*/
@font-face{
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf)
}
* {
    font-family: Roboto, sans-serif;
}
 body{
                background-color: #ffffff;
            }
            table{
                border: 2px solid #156590 ;
                font-size: 20px;
                width: 100%;
            }
            th{
                text-align: center;
            }
            #Mod, #Agr{
                border-color:  #156590;
                font-size: 20px;
            }
            h1 {
                color: black;
                font-size: 40px;
            }
            label{
                font-size: 20px;
            }
            input[type=submit], input[type=button] {
                font-size: 20px;
                background-color: #156590;
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }

            input[type=submit]:hover {
                background-color: #ff292A;
            }
            input[type=button]:hover {
                background-color: #ff292A;
            }

            input[type=text] {
                font-size: 20px;
                padding: 12px 20px;
                margin: 8px 0;
                box-sizing: border-box;
                border: 2px solid red;
                border-radius: 4px;
                background-color: #156590;
                color: white;
            }